/* the props */
@import 'open-props/style';

/* optional imports that use the props */
@import 'open-props/normalize';
@import 'open-props/buttons';
@import 'base-colors.css';

@import 'layouts/box.css';
@import 'layouts/center.css';
@import 'layouts/cluster.css';
@import 'layouts/sidebar.css';
@import 'layouts/stack.css';
@import 'layouts/switcher.css';

.container {
  width: 100%;
  margin-inline: auto;
  padding-inline: var(--size-fluid-2);
  box-sizing: border-box;
  max-width: 80rem;
}
