---
import '../styles/main.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <nav class="container">
      <a href="/">Home</a>
    </nav>
    <main class="container">
      <slot />
    </main>
  </body>
</html>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--size-fluid-3);
    font-size: var(--font-size-3);
    text-transform: uppercase;
  }
</style>
